
<template>
  <main class="main">
      <!-- Breadcrumb -->
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
      </ol>
      <div class="container-fluid">
          <!-- Ejemplo de tabla Listado -->
          <div class="card">
              <div class="card-header">
                  <i class="fa fa-align-justify"></i>Doctores
                  <button type="button" @click="abrirModal('doctor','registrar')" class="btn btn-secondary" >
                      <i class="icon-plus"></i>&nbsp;Nuevo
                  </button>
              </div>
              <div class="card-body">
                  <div class="form-group row">
                      <div class="col-md-6">
                          <div class="input-group">
                              <!--codigo de busqueda-->
                              <select class="form-control col-md-6" v-model="criterio">
                                <option value="especialidad">Especialidad</option>
                                <option value="p_nombre">Nombre</option>
                              </select>
                              <input type="text" v-model="buscar" @keyup.enter="listarDoctor(1,buscar,criterio)" class="form-control" placeholder="Buscar...">
                              <button type="submit" @click="listarDoctor(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                          </div>
                      </div>
                  </div>
                  <table class="table table-bordered table-striped table-sm">
                      <thead>
                          <tr>
                              <th>Opciones</th>
                              <th>Nombre</th>
                              <th>Apellido</th>
                              <th>Email</th>
                              <th>Especialidad</th>
                              <th>Estado</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr v-for="doctor in arrayDoctor" :key="doctor.id">
                              <td>
                                  <button type="button" @click="abrirModal('doctor','actualizar',doctor)" class="btn btn-warning btn-sm">
                                    <i class="icon-pencil"></i>
                                  </button> &nbsp;

                                  <template v-if="doctor.condicion">
                                    <button type="button" class="btn btn-danger btn-sm" @click="desactivarEspecialidad(doctor.id)">
                                        <i class="icon-trash"></i>
                                    </button>
                                  </template>

                                  <template v-else>
                                    <button type="button" class="btn btn-success btn-sm" @click="activarEspecialidad(doctor.id)">
                                        <i class="icon-check"></i>
                                    </button>
                                  </template>

                              </td>
                              <!--nombre de los campos de la base de datos-->
                              <td v-text="doctor.p_nombre"></td>
                              <td v-text="doctor.p_apellido"></td>
                              <td v-text="doctor.email"></td>
                              <td v-text="doctor.especialidad"></td>
                              <td>
                                <div v-if="doctor.condicion">
                                  <span class="badge badge-info">Activo</span>
                                </div>

                                <div v-else>
                                  <span class="badge badge-danger">Inactivo</span>
                                </div>

                              </td>
                          </tr>

                      </tbody>
                  </table>
                  <nav>
                      <ul class="pagination">
                          <li class="page-item" v-if="pagination.current_page>1">
                              <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant</a>
                          </li>
                          <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page==isActived ? 'active' :'' ]">
                              <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                          </li>
                          <li class="page-item" v-if="pagination.current_page<pagination.last_page">
                              <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                          </li>
                      </ul>
                  </nav>
              </div>
          </div>
          <!-- Fin ejemplo de tabla Listado -->
      </div>
      <!--Inicio del modal agregar/actualizar-->
      <!--se asigna la clase mostrar al dic cuando el contededor se visualiza: modal=1 (por defecto modal=0)-->
      <div class="modal fade" :class="{'mostrar':modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
          <div class="modal-dialog modal-primary modal-lg" role="document">
              <div class="modal-content"> <!--tiene sus estilos al final del codigo-->
                  <div class="modal-header">
                      <h4 class="modal-title" v-text="tituloModal"></h4>
                      <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                  </div>

                  <!--Formulario modal principal-->
                  <div class="modal-body">
                      <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"  @submit.prevent="validateBeforeSubmit">
                          <div class="form-group row" :class="{'has-error': errors.has('email') }">
                              <label class="col-md-3 form-control-label" for="text-input">Especialidad</label>
                              <div class="col-md-9">
                                  <input type="text"

                                  v-model="especialidad"



                                  class="form-control"
                                  placeholder="Nombre de especialidad">



                              </div>


                          </div>
                          <div class="form-group row">
                              <label class="col-md-3 form-control-label" for="email-input">Descripción</label>
                              <div class="col-md-9">
                                  <input type="text" v-model="descripcion" class="form-control" placeholder="Ingrese descripcion ">
                              </div>
                          </div>

                          <div v-show="errorEspecialidad" class="form-group row div-error">
                              <div class="text-center text-error">
                                  <div v-for="error in errorMostrarMensajeEspecialidad" :key="error" v-text="error" class="">

                                  </div>
                              </div>
                          </div>

                      </form>
                  </div>


                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                      <button v-if="tipoAccion==1" type="button" class="btn btn-primary" @click="registrarEspecialidad()" >Guardar</button>
                      <button v-if="tipoAccion==2" type="button" class="btn btn-primary" @click="actualizarEspecialidad()">Actualizar</button>
                  </div>


              </div>
              <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
      </div>
      <!--Fin del modal-->

  </main>
</template>

<script>

    export default {


        data(){ //capa de datos
          return{
            doctor_id:0,
            id_especialidad:0,
            especialidad:'',
            p_nombre:'',
            p_apellido:'',
            email:'',

            arrayDoctor: [],
            modal:0,    //muestra si mostramos o ocultamos el modal
            tituloModal:'',
            tipoAccion: 0,
            errorDoctor:0,
            errorMostrarMensajeDoctor: [],
            pagination: {
              'total'         :0, //total de registros
              'current_page'  :0, //pagina actual
              'per_page'      :0, //numero de regitros por pagina
              'last_page'     :0, //ultima pagina
              'from'          :0, //desde la pagina
              'to'            :0, //hasta la pagina
            },

            offset: 3,
            /////variables para busqueda de registros////////
            criterio:'p_nombre',
            buscar: ''
          }
        }, //fin data()

        ////////
        computed:{
          isActived:function(){
            return this.pagination.current_page;
          },
          pagesNumber: function(){
            if(!this.pagination.to){
              return [];
            }
            //revisa que la paginacion no sea menor a 0
            var from=this.pagination.current_page - this.offset;
            if(from<1){
              from=1;
            }
            //verifica que la paginacion no se pase de la cantidad de registros
            var to= from + (this.offset*2);
            if(to>= this.pagination.last_page){
              to=this.pagination.last_page;
            }
            var pagesArray=[];
            while(from<=to){
              pagesArray.push(from);
              from++;
            }
            return pagesArray; //pagesNumber returna pagesArray
          }// pageNumber()

        }, //fin computed()

        methods:{
          listarDoctor(page,buscar,criterio){
             let me=this;
             var url= 'doctor?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;
             axios.get(url).then(function (response) {
                var respuesta= response.data;
                me.arrayDoctor = respuesta.doctores.data; // almacena el contenido del objeto response en el arrayEspecialidad
                me.pagination=respuesta.pagination;
              })
              .catch(function (error) {
                console.log(error);
              });
            },

            cambiarPagina(page,buscar,criterio){ //page: recibe el numero de la pagina que queremos mostrar
              let me= this;
              //Actualiza la pagina actual
              me.pagination.current_page=page;
              //envia la peticion para visualizar la data de esa pagina
              me.listarDoctor(page,buscar,criterio);
            },

            registrarEspecialidad(){

              if(this.validarEspecialidad()){
                return;
              }

              let me=this;
              axios.post('especialidad/registrar',{
                'especialidad':this.especialidad,
                'descripcion':this.descripcion
              }).then(function(response){
                me.cerrarModal();
                me.listarEspecialidad(1,'','especialidad'); //muestra la primera pagina, sin buscar nada por el criterio nombre
              }).catch(function (error){
                console.log(error);
              });
            },

            cerrarModal(){
              this.modal=0;
              this.tituloModal="";
              this.especialidad="";
              this.descripcion="";
            },

            actualizarEspecialidad(){
              if(this.validarEspecialidad()){
                return;
              }

              let me=this;
              axios.put('especialidad/actualizar',{
                'especialidad':this.especialidad,
                'descripcion':this.descripcion,
                'id':this.especialidad_id
              }).then(function(response){
                me.cerrarModal();
                me.listarEspecialidad(1,'','especialidad');
              }).catch(function (error){
                console.log(error);
              });
            },

            desactivarEspecialidad(id){
            swal({
              title: '¿Desea desactivar esta especialidad?',
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Aceptar',
              cancelButtonText: 'Cancelar',
              reverseButtons: true
            }).then((result) => {
              if (result.value) {
                let me= this;
                axios.put('especialidad/desactivar',{
                  'id'         :  id
                }).then(function(response){
                    me.listarEspecialidad(1,'','especialidad');
                    swal(
                      'Desactivado',
                      'La especialidad ha sido desactivada',
                      'success'
                    )
                }).catch(function (error){
                    if (error.response) {
                    // The request was made and the server responded with a status code
                    // that falls out of the range of 2xx
                    console.log(error.response.data);
                    console.log(error.response.status);
                    console.log(error.response.headers);
                  } else if (error.request) {
                    // The request was made but no response was received
                    // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
                    // http.ClientRequest in node.js
                    console.log(error.request);
                  } else {
                    // Something happened in setting up the request that triggered an Error
                    console.log('Error', error.message);
                  }
                  console.log(error.config);
                });
              } else if (
                // Read more about handling dismissals
                result.dismiss === swal.DismissReason.cancel
              ) {

              }
            })
        }, //desactivarEspecialidad()

        activarEspecialidad(id){
        swal({
          title: '¿Desea activar esta especialidad?',
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Aceptar',
          cancelButtonText: 'Cancelar',
          reverseButtons: true
        }).then((result) => {
          if (result.value) {
            let me= this;
            axios.put('especialidad/activar',{
              'id'         :  id
            }).then(function(response){
                me.listarEspecialidad(1,'','especialidad');
                swal(
                  'Activado',
                  'La especialidad ha sido activada',
                  'success'
                )
            }).catch(function (error){
                if (error.response) {
                // The request was made and the server responded with a status code
                // that falls out of the range of 2xx
                console.log(error.response.data);
                console.log(error.response.status);
                console.log(error.response.headers);
              } else if (error.request) {
                // The request was made but no response was received
                // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
                // http.ClientRequest in node.js
                console.log(error.request);
              } else {
                // Something happened in setting up the request that triggered an Error
                console.log('Error', error.message);
              }
              console.log(error.config);
            });
          } else if (
            // Read more about handling dismissals
            result.dismiss === swal.DismissReason.cancel
          ) {

          }
        })
    }, //activarEspecialidad()


            validarEspecialidad(){
              this.errorEspecialidad=0;
              this.errorMostrarMensajeEspecialidad=[];

              if(!this.especialidad)
                this.errorMostrarMensajeEspecialidad.push("El nombre de la especialidad no puede estar vacio");

              if(this.errorMostrarMensajeEspecialidad.length)
                this.errorEspecialidad=1;

              return this.errorEspecialidad;
            },

            abrirModal(modelo,accion,data=[]){
                switch (modelo) {
                  case "especialidad":
                  {
                    switch(accion){
                      case "registrar":
                      {
                        this.modal=1;
                        this.tituloModal="Registrar Especialidad";
                        this.especialidad="";
                        this.descripcion="";
                        this.tipoAccion=1;
                        break;
                      }
                      case "actualizar":
                      {
                        this.modal=1;
                        this.tituloModal="Actualizar Especialidad";
                        this.tipoAccion=2;
                        this.especialidad_id=data['id'];
                        this.especialidad=data['especialidad'];
                        this.descripcion=data['descripcion'];
                        break;

                      }
                    } //accion
                  }
                } //modelo
            }
        },
        mounted() {
            this.listarDoctor(1,this.buscar,this.criterio);
        }
    }
</script>

<style>
  .modal-content{
      width: 100% !important;
      position: absolute !important;
  }
  .mostrar{
    display: list-item !important;
    opacity: 1 !important;
    position: absolute !important;
    background-color: #3c29297a !important;
  }

  .div-error{
    display: flex;
    justify-content: center;
  }

  .text-error{
    color:red !important;
    font-weight: bold;
  }
</style>
